@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.Pink-border{
    @apply border-b-4 border-Pink pb-2;
}

*::selection{
    @apply bg-Pink text-white;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    background-color: #ff0054;
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: #fad390;
    width: 10px;
    border-radius: 3px;
}